Google Classroom
Classroom
February 2023 Batch
Home
Calendar
Enrolled
To-do
A
Angular - Feb 23
F
February 2023 Batch
Archived classes
Settings
Stream
Classwork
People
Classwork for February 2023 Batch
All topics
Material
Soft skills Notes
Posted Apr 15
Material
KodNest Books
Posted Mar 24
Front end Technologies
Front end Technologies
Material
JavaScript Code Examples
Posted Jun 21
Material
HTML, CSS and JS files.
Posted Jun 19
Portfolio
Portfolio
Material
Steps for GitHub and Portfolio Files
Posted Jun 19
Please Find the below attachments and follow the guidelines instructed in the class.

index.html
HTML

sty.css
Style Sheet

GitHub steps.pdf
PDF
SQL
SQL
Material
MySQL installation Video
Posted Jun 22
Material
DDL File
Posted May 9
Material
Oracle Installation video and Software
Posted May 3
Manual Testing
Manual Testing
Material
Manual Testing
Posted Apr 28
Java Extra Videos
Java Extra Videos
Material
DataStructures
Posted May 5
Material
Swings using Windows Builder
2
2 comments
Edited Apr 27
Material
Debug Mode in eclipse and Java Documentation
2
2 comments
Edited Apr 27
Material
SEARCHING AND SORTING ALGORITHMS
20
20 comments
Edited Apr 27
Aptitude
Aptitude
Material
Aptitude practice session 16th june
Posted Jun 16
Material
Aptitude Classwork 4th May
Posted May 4
Material
Aptitude Classwork 2nd May
Posted May 2
Material
Aptitude Classwork 26th April
Posted Apr 26
Material
Aptitude Classwork 25th April
Posted Apr 25
Material
Aptitude Classwork 24th April
Posted Apr 24
Material
Aptitude Classwork 21st April
Posted Apr 21
Material
Aptitude Classwork 20th April
Posted Apr 20
Material
Aptitude Classwork 19th April
Posted Apr 19
Material
Aptitude Classwork 18th April
Posted Apr 19
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: #111;
    overflow: hidden;
    padding-left: 35rem;
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.heading span{
    color: yellow;
}

.title{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.title span{
    color: yellow;
}

.head{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.head span{
    color: yellow;
}
.pro{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.pro span{
    color: yellow;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    border: .5rem solid;
}

header .user .nm{
    font-size:2rem;
    color: #fff;
}

header .user .jb{
    font-size:1rem;
    color: #fff;
}

header .nv{
    width: 100%;
}
header .nv ul{
    list-style: none;
    padding: 1rem ;
}

header .nv ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;  
}
header .nv ul li a:hover{
    background-color:yellowgreen;
}

.Details .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Details .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Details .Row .det h3{
    font-size: 2rem;
    color: yellow;
    padding: 1rem 0;
    font-weight: normal;
}

.Details .Row .det h3 span{
    color: #eee;
    padding: 0. 5rem;
}
table,th,td{
    border: 1px solid yellow;
    border-collapse: collapse;
}
td{
    color: white;
    padding: 1rem;
}
th{
    color: white;
    padding: 1rem;
}
table{
    text-align: center;
    margin: 0 6rem;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
#lis li{
    margin: 0 9rem;
    color: white;
    font-size: medium;
    padding: .5rem 1rem;
}
.Project .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Project .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Project .Row .det h3{
    font-size: 2rem;
    color: yellow;
    padding: 1rem 0;
    font-weight: normal;
}

.Project .Row .det h3 span{
    color: #eee;
    padding: 0. 5rem;
}
sty.css
Displaying sty.css.